@page
@model ASC.Web.Areas.Identity.Pages.Account.InitiateResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col s12 m5 offset-m2">
        <form method="post">
            <div class="row center">
                <button class="btn waves-effect waves-light teal" type="submit">
                    Send Reset Email
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>
