@page
@model ASC.Web.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel teal lighten-1 margin-top-50px">
                <span class="white-text">
                    Your password has been reset. Please <a class="white-text" asp-page="./Login"><strong>click here to log in</strong></a>.
                </span>
            </div>
        </div>
    </div>
</div>
